#myeclipse
.classpath
.project
.tern-project
.settings
.mymetadata
.checkstyle

#idea
.idea
*.iml

#maven编译目录
target
indexes

#web项目类路径
classes
#java项目类路径
bin

#java编译类
*.class

# Package Files #
*.jar
*.war
*.ear
*.zip
*.rar
